body{
/* background-image : url(img4.jpg); */
position: relative;
background: url(lab_img.jpg) no-repeat center/ cover;
justify-content: center;
align-items: center;
font-size:larger;
overflow: hidden;
}
div{
    justify-content: center;
    justify-items: center;
    background-color: rgb(233, 187, 34);
    margin: 250px;
    padding: 10px;
    
    width: 330px;
    height: 230px;
    border: 1px solid black;
}
form{
    position: relative;
    box-sizing: border-box;
    margin: 15px;
}
input{
    padding:4px;
    border: 2px solid black;
    border-radius: 2px 2px 2px 2px black;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    margin: 20px;
}
#name {
    margin-left: 50px;
}
#pw {
    margin-left: 50px;
}

#go{
    margin-left: 130px;
}
